# Virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary data files
data/temp

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE/editor folders
.vscode/
.idea/

# Logs
*.log

# Secrets
.env